<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppGroupIdentifier</key>
	<string>group.com.speedy.app</string>
	<key>HereApiKey</key>
	<string>$(HERE_API_KEY)</string>
	<key>TomTomApiKey</key>
	<string>$(TOMTOM_API_KEY)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>background-processing</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-9597683900798061~7756765465</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
</dict>
</plist>
